<%= render layout: 'backoffice/shared/layout', locals: { page: 'point_reports' } do %>
  <div id="page-dashboard" class="container-fluid mt-3">
    <div class="page-header">
      <%= fa_icon "folder-o fw" %>
      <span>Relatório de pontos</span>
    </div>
    <%= render 'filter' %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <%= page_entries_info @records, entry_name: 'item' %>
          </div>
          <div class="col-3">
            <div class="row justify-content-center">
              <div class="col">
                <%= link_to_previous_page @records, 'Previous Page' %>
              </div>
              <div class="col">
                <%= link_to_next_page @records, 'Next Page' %>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Tipo de Bônus</th>
              <th scope="col">Usuário</th>
              <th scope="col">Valor base</th>
              <th scope="col">Percentual</th>
              <th scope="col">Pontos</th>
            </tr>
          </thead>
          <tbody>
            <% if @records.empty? %>
              <tr>
                <td colspan="7">
                  <p class="text-center m-0">Você ainda não fez nenhum ponto</p>
                </td>
              </tr>
            <% else %>
              <% @records.each do |points_record| %>
                <% presenter(points_record) do |_presenter| %>
                  <tr>
                    <td><%= _presenter.created_at_formatted %></td>
                    <td><%= _presenter.reference_name %></td>
                    <td><%= _presenter.origin_user.first_name %></td>
                    <td><%= _presenter.base_point_amount_formatted %></td>
                    <td><%= _presenter.commission_percentage %></td>
                    <td><%= _presenter.point_amount_formatted %></td>
                  </tr>
                <%- end %>
              <%- end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<%- end %>
