<%= render layout: 'backoffice/shared/layout', locals: { page: 'dashboard' } do %>
  <div id="page-dashboard" class="container-fluid mt-3">
    <div class="page-header">
      <%= fa_icon "calendar fw" %>
      <span>Dashboard</span>
    </div>
    <div class="card mb-3">
      <div class="card-body pt-2 px-2 pb-0 d-flex align-items-center flex-wrap text-center">
        <a href="" class="flex-grow-1 flex-md-grow-0 mb-3 mb-md-2 mr-2 btn btn-sm btn-danger" title="Faça seu pedido de ativação">
          <%= fa_icon "exclamation-triangle fw" %>
          <strong>Você não está ativo!</strong>
          <span>Clique aqui e faça sua ativação</span>
        </a>
        <a href="#" class="copy flex-grow-1 flex-sm-grow-0 mb-3 mb-md-2 mr-2 btn btn-sm btn-link text-dark" data-toggle="tooltip" title="Copiar link para indicação">
          <%= fa_icon "share-alt fw" %>
          <span>Link de Indicação</span>
        </a>
        <a href="#" class="copy flex-grow-1 flex-sm-grow-0 mb-3 mb-md-2 mr-2 btn btn-sm btn-link text-dark" data-toggle="tooltip" title="Copiar link para loja virtual">
          <%= fa_icon "shopping-cart fw" %>
          <span>Minha Loja Virtual</span>
        </a>
      </div>
    </div>
    <div class="generic-blocks mb-3">
      <div class="items">
        <a href="#" title="Visualizar extrato detalhado" class="bg-gradient-3">
          <strong>R$ 0,00</strong> <%= fa_icon "chart-area fw" %> Ganhos até hoje
        </a>
        <a href="#" title="Visualizar meu saldo" class="bg-gradient-4">
          <strong>R$ 0,00</strong> <%= fa_icon "dollar-sign fw" %> Saldo Disponível
        </a>
        <a href="#" title="Visualizar previsões deste mês" class="bg-gradient-6">
          <strong>R$ 0,00</strong> <%= fa_icon "chart-line fw" %> Previsão de Ganhos
        </a>
        <a href="#" title="Visualizar minha equipe" class="bg-gradient-12">
          <strong>0 / 0</strong> <%= fa_icon "users fw" %> Equipe / Indicados
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
<%- end %>
