<%= render layout: 'backoffice/shared/layout', locals: { page: 'dashboard' } do %>
  <div id="page-dashboard" class="container-fluid mt-3">
    <div class="page-header">
      <%= fa_icon "dashboard fw" %>
      <span>Painel</span>
    </div>
    <div class="card mb-3">
      <div class="card-body pt-2 px-2 pb-0 d-flex align-items-center flex-wrap text-center">
        <%= link_to backoffice_store_products_path, class: "flex-grow-1 flex-md-grow-0 mb-3 mb-md-2 mr-2 btn btn-danger", title: "Faça seu pedido de ativação" do %>
          <%= fa_icon "exclamation-triangle lg fw" %>
          <strong>Você não está ativo!</strong>
          <span>Clique aqui e faça sua ativação</span>
        <%- end %>
        <a href="#" class="copy flex-grow-1 flex-sm-grow-0 mb-3 mb-md-2 mr-2 btn btn-link text-decoration-none text-dark" data-toggle="tooltip" title="Copiar link para indicação">
          <%= fa_icon "share-alt lg fw" %>
          <span>Link de Indicação</span>
        </a>
        <%= link_to backoffice_store_products_path, class: "copy flex-grow-1 flex-sm-grow-0 mb-3 mb-md-2 mr-2 btn btn-link text-decoration-none text-dark" do %>
          <%= fa_icon "shopping-cart lg fw" %>
          <span>Ir para Loja</span>
        <%- end %>
      </div>
    </div>
    <div class="generic-blocks mb-5">
      <div class="items">
        <a href="#" title="Visualizar extrato detalhado" class="bg-gradient-3">
          <strong>R$ 0,00</strong> <%= fa_icon "chart-area fw" %> Ganhos até hoje
        </a>
        <a href="#" title="Visualizar meu saldo" class="bg-gradient-4">
          <strong>R$ 0,00</strong> <%= fa_icon "dollar-sign fw" %> Saldo Disponível
        </a>
        <a href="#" title="Visualizar previsões deste mês" class="bg-gradient-6">
          <strong>R$ 0,00</strong> <%= fa_icon "chart-line fw" %> Previsão de Ganhos
        </a>
        <a href="#" title="Visualizar minha equipe" class="bg-gradient-12">
          <strong>0 / 0</strong> <%= fa_icon "users fw" %> Equipe / Indicados
        </a>
      </div>
    </div>
    <div class="dashboard mb-5">
      <div class="row">
        <div class="col-lg-4">
          <div id="qualificacao" class="card" style="min-height: 420px; border: 3px solid rgb(171, 146, 236);">
            <div class="card-body text-center"><!----> <!----> 
              <div>
                <h2 class="mb-3 text-center">Qualificação</h2> 
                <div class="text-center mb-2">
                  <%= image_tag "graduation.png", width: "220", class: "rounded-circle img-fluid" %>
                </div> 
                <h4 class="mb-2">Empreendedor</h4> 
                <div class="row">
                  <div class="col-6">
                    <strong>KIT</strong><br>Pré-Cadastro
                  </div>
                  <div class="col-6">
                    <strong>Grad. Mensal</strong><br>Sem Graduação
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div id="qualificacao-mensal" class="card" style="min-height: 420px; border: 3px solid rgb(160, 212, 104);">
            <div class="card-body text-center"><!----> <!----> 
              <div class="atomic-wrap" style="">
                <h2 class="mb-3 text-center">
                  Graduação Mensal
                  <a data-toggle="modal" href="#modalHelpGradMensal" class="text-secondary">
                    <%= fa_icon "question-circle fw" %>
                  </a>
                </h2>
                <div>
                  <div class="text-center mb-3">
                    <%= image_tag "graduation-points.png", class: "d-block", style: "margin: 0px auto;" %>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      ATUAL <br> <b id="monthPontosAtual" class="fs-3"> 0 </b> <br> <span id="monthGradAtual" class="fs-6"> EMPREENDEDOR </span>
                    </div>
                    <div class="col-lg-6">
                      PRÓXIMA <br> <b id="monthPontosProxima" class="fs-3"> 1.500 </b> <br> <span id="monthGradProxima" class="fs-6"> ELITE </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- end %>
