<%= render layout: 'backoffice/shared/layout', locals: { page: 'tree' } do %>
  <div id="page-dashboard" class="container-fluid mt-3">
    <div class="page-header">
      <%= fa_icon "calendar fw" %>
      <span>Meus Diretos</span>
    </div>
    <div class="card mb-3">
      <h6 class="card-header">
        <%= fa_icon "filter fw" %><span>Filtro</span>
      </h6>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <form>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Procurar</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" cname="name" />
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6 text-end">
            <%= link_to "Exportar CSV", "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">COD</th>
              <th scope="col">Usuário</th>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Telefone</th>
              <th scope="col">Celular</th>
              <th scope="col">Cidade/UF</th>
              <th scope="col">Situação</th>
              <th scope="col">Pontuação</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.first_name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone_number %></td>
                <td><%= user.personal_number %></td>
                <td><%= "#{user.city}-#{user.state_abbr}" %></td>
                <td>
                  <span class="badge rounded-pill bg-success">Ativo</span>
                </td>
                <td><%= user.point_amount("ACTIVATION") %></td>
              </tr>
            <%- end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<%- end %>
