<main class="admin-layout">
  <header class="admin-header">
    <nav class="navbar navbar-default sticky-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="d-flex text-decoration-none">
            <%= image_tag 'logo360', style: 'max-height: 50px;padding: 5px 0px;' %>
          </a>
        </div>
        <div class="d-flex flex-grow-1 flex-md-grow-0 justify-content-between justify-content-sm-end pl-2 pt-2 pt-md-0">
          <div class="dropdown">
            <%= link_to backoffice_store_cart_path, class: "nav-link text-dark", role: "button", title: "Meu Carrinho" do %>
              <%= fa_icon "shopping-cart fw lg" %>
              <% unless @current_cart.items.empty? %>
                <span class="position-absolute start-80 translate-middle badge rounded-pill bg-danger">
                  <%= @current_cart.items.count %>
                </span>
              <%- end %>
            <%- end %>
          </div>
          <div class="dropdown notifications">
            <a href="#" class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Notificações">
              <%= fa_icon "bell fw lg" %>
              <% unless @current_cart.items.empty? %>
                <div class="badge rounded-pill bg-secondary notification-count">
                  <%= @current_cart.items.count %>
                </div>
              <%- end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end notifications-dropdown shadow">
              <div class="notifications-dropdown notification-area">
                <a href="#" class="item dropdown-item text-center no-notification">
                  <span class="d-inline-block">Não há notificações</span>
                </a>
              </div>
              <div class="justify-content-around border-top py-2 see-all-notifications d-none">
                <a href="/notificacoes/lista" class="d-block btn btn-link text-dark"><strong>Ver todas</strong></a>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLinkIdiomas" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Alterar idioma">
              <%= fa_icon "globe fw lg" %>
              <span class="d-none d-md-inline">Português</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdownMenuLinkIdiomas">
              <a class="dropdown-item  active" href="https://escritorio.chancellercosmeticos.com.br/linguagem/alterar/pt_BR/backoffice">Português</a>
              <a class="dropdown-item " href="https://escritorio.chancellercosmeticos.com.br/linguagem/alterar/en_US/backoffice">English</a>
            </div>
          </div>
          <div class="dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Menu">
              <span class="d-none d-md-inline mr-1">Olá, <%= current_user.first_name %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdownMenuLink">
              <span class="dropdown-item">Olá, <%= current_user.first_name %></span>
              <div class="dropdown-divider d-md-none"></div>
              <%= link_to backoffice_profile_user_data_path, class: "dropdown-item" do %>
                <span><%= fa_icon "user fw" %> Perfil</span>
              <%- end %>
              <a class="dropdown-item" href="/profile/documents"><%= fa_icon "file fw" %> Meus Documentos</a>
              <%= link_to backoffice_profile_banking_account_path, class: "dropdown-item" do %>
                <span><%= fa_icon "university fw" %> Conta Bancária</span>
              <%- end %>
              <a class="dropdown-item" href="/profile/terms"><%= fa_icon "book fw" %> Termos</a>
              <div class="dropdown-divider"></div>
              <%= link_to backoffice_profile_password_path, class: "dropdown-item" do %>
                <span><%= fa_icon "key fw" %> Alterar Senha</span>
              <%- end %>
              <%= link_to backoffice_profile_security_password_path, class: "dropdown-item" do %>
                <span><%= fa_icon "key fw" %> Senha de Segurança</span>
              <%- end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_session_path(:user), class: "dropdown-item" do%>
                <%= fa_icon "sign-out fw" %> <span>Sair</span>
              <%- end%>
            </div>
        </div>
      </div> 
    </nav>  
  </header>
  <div class="admin-container">
    <aside class="admin-sidebar">
      <div class="head d-none justify-content-center align-items-center py-3">
        <a href="/" class="d-block text-decoration-none">
          <%= image_tag "your-logo", style: "width: 100%;height: auto;" %>
        </a>
      </div>
      <div class="menu">
        <%= render partial: 'partials/backoffice/menu', locals: { current_page: page } %>
      </div>
    </aside>
    <div class="admin-content">
      <%= yield %>
    </div>
  </div>
</main>
